<div class="header"><%=t(:sign_in)%></div>
<div id="sign_in_container">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label t(:password) %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit t(:sign_in) %></div>
<% end %>
<%= render :partial => "devise/shared/links" %>
</div>
