<%= form_for(@item,:html => { :multipart => true }) do |f| %>
	<%p f%>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:title) %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t(:description) %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label t(:categories) %><br />
    <%= f.select :category_id, @categories.map {|r| [r.description, r.id] } %>
  </div>
  <div class="field">
    <%= f.label t(:price) %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
