<div class="header"><%=t(:articles_title)%></div>
<div id="top_paginator">
  <%= will_paginate(@items, :previous_label => t(:previous), :next_label => t(:next)) %>
</div>
<div class="items">
  <% @items.each_with_index do |item, index| %>
  <div class="item <%=(index+1) % 3 != 0 ? "border": "" %>">
    <div class="title"><%= item.title.upcase%></div>
    <div class="code">Cod > <%=item.id%></div>
    <%if true then %>
      <%= image_tag item.photo.url(:medium) %>
    <% else %>
      no photo 
    <% end %>
    
    <span><%= number_to_currency(item.price, :precision => 0, :separator => ",", :delimiter => "") %></span>
     <td><%= link_to t(:more_info), item %></td>
    <input type="button" onclick="addToCart(<%=item.id%>, '<%=item.title%>');" value="<%=t(:add_to_cart)%>" class="buy_button">
  </div>
  <% if (index+1) % 3 == 0 %>
  <div class="separator"></div>
  <%end%>
  <% end %>
</div>
<div id="bottom_paginator" class="clear">
  <%= will_paginate(@items) %>
</div>    
<% if session[:login] == 1 %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
