<p id="notice"><%= notice %></p>

<p>
  <b><%=t(:title)%>:</b>
  <%= @item.title %>
</p>

<p>
  <b><%=t(:description)%>:</b>
  <%= @item.description %>
</p>

<p>
  <b><%=t(:price)%>:</b>
  <%= @item.price %>
</p>

<p>
  <img src="/assets/products/<%=@item.url_image%>" height="100" width="110" />
</p>
<%= link_to t(:back), :controller => :items %>
