<p id="notice"><%= notice %></p>

<p>
  <b><%=t(:title)%>:</b>
  <%= @item.title %>
</p>

<p>
  <b><%=t(:description)%>:</b>
  <%= @item.description %>
</p>

<p>
  <b><%=t(:price)%>:</b>
  <%= @item.price %>
</p>

<p>
  <%= image_tag @item.photo.url(:large) %>
</p>
<%= link_to t(:back), :controller => :items %>
