<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
	Item: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag 'jquery'%>
	<%= javascript_include_tag 'cart'%>
	<%= javascript_include_tag 'item'%>
	<%= javascript_include_tag 'photoSlider'%>
	<script>
		$(document).ready(function() { 
		   $('#s3slider').s3Slider({ 
		      timeOut: 4000 
		   });
		});
	</script>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header">
		<img src="/assets/logo_sodano.png" alt="Sodano" width="150" height="87" border="0" class="logo"/>
		<div class="title">
			<div class="bold">La mejor experiencia</div>
			<div>En articulos para el hogar</div>
		</div>
		<div class="lang">
			<a href="#"><img src="/assets/germany_flag.png" alt="Aleman" width="20" height="20" /></a>
			<a href="#"><img src="/assets/spain_flag.png" alt="Espana" width="20" height="20" /></a>
			<a href="#"><img src="/assets/england_flag.png" alt="Inglaterra" width="20" height="20" /></a>
			<span class="selectedLang">Lenguaje: Espanol</span>
		</div>	
	</div>
	<div id="leftEar"></div>
	<div id="menuContainer">
		<ul id="menu">
	  	<li><%= link_to t(:home), { :controller => "/items", :action => "index" }, :class => "but1_active" -%></li>
			<li class="pipe">|</li>
			<li><%= link_to "Conozcanos", { :controller => "/sites", :action => "about" }, :class => "but2" -%></li>
			<li class="pipe">|</li>
			<li><%= link_to "Contactenos", { :controller => "/sites", :action => "contact" }, :class => "but3" -%></li>
			<li class="pipe">|</li>
			<% if !user_signed_in? %>
				<li><%= link_to 'Registrese', new_user_registration_path %></li>
				<li class="pipe">|</li>
				<li><%= link_to 'Iniciar session', new_user_session_path %></li>
			<% else %>
				<li><%= link_to_unless_current "Mi carrito",  :controller => "/carts", :action => "index" %></li>
			<% end %>
		</ul>
		<div class="cart">
			<div class="cartTitle">CARRITO</div>
			<div class="cartTitle">DE COMPRAS</div> 
			<div class="cartSubtTitle">Productos agregados: <font><%= @cart_quantity%></font></div>
		</div>
	</div>
	<div id="rightEar"></div>
	<div id="content">
		<div id="left">
			<h2><%=t(:find_by_categories)%></h2>
			<ul class="leftnav">
				<li><a href="/items?category_id=1">Dormitorio</a></li>
				<li><a href="/items?category_id=2">Cocina</a></li>
				<li><a href="/items?category_id=3">Banio</a></li>
				<li><a href="/items?category_id=4">Tecnologia</a></li>
				<li><a href="/items?category_id=5">Living</a></li>
				<li class="bord"><a href="/items?category_id=6">Jardin</a></li>
			</ul>
			<div class="block1">
			</div>
		</div>
		<div id="right">
			<div id="s3slider">
			   <ul id="s3sliderContent">
			      <li class="s3sliderImage">
			          <img src="/assets/carrousel_1.png" width="470" height='230'/>
			          <span>Promoción valida hasta el 21/12/2011</span>
			      </li>
			      <li class="s3sliderImage">
			          <img src="/assets/carrousel_2.png" width="470" height='230'/>
			          <span>Promoción valida hasta el 21/12/2011</span>
			      </li>
						<li class="s3sliderImage">
			          <img src="/assets/carrousel_3.png" width="470" height='230'/>
			          <span>Promoción valida hasta el 21/12/2011</span>
			      </li>
			      <div class="clear s3sliderImage"></div>
			   </ul>
			</div>
			<div class="content">
			<%= yield %>
			</div>
			<div class="news">
				<p>
 					<b><%=t(:suscribe_newsletter)%></b>
					<input type="text" id="email" value="email">
					<a href="#"><img src="assets/arrows2.gif" alt="" width="11" height="5" /></a>
				</p>
				
				<h3><%=t(:follow_us)%></h3>
				<p>
					<div><a href="#"><img src="assets/facebook.png" alt="" width="50" height="50" /></a></div>
					<div><a href="#"><img src="assets/twitter.png" alt="" width="50" height="50" /></a></div>
				</p>
			</div>
			<div class="new">
				<img src="assets/title2.gif" alt="" width="173" height="41" />
				<img src="assets/telefono.gif" height="40" width="40" title="Venta Telefonica" alt="Venta Telefonica" />
				<h3>(011) 4280-6034</h3> 
				<span>Consultas, Ventas, Listas de casamiento.</span>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="pay">
			<a href="#"><img src="assets/small1.jpg" alt="" width="80" height="26" /></a>
			<a href="#"><img src="assets/small2.jpg" alt="" width="39" height="26" /></a>
			<a href="#"><img src="assets/small3.jpg" alt="" width="39" height="26" /></a>
		</div>
		<div class="copy">
			<ul class="botmenu">
				<li><a href="#">Buscar</a></li>
				<li><a href="#">Contactenos</a></li>
				<li><a href="#">Registrese</a></li>
				<li class="back"><a href="#">Login</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
