<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
	Item: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
	<%= javascript_include_tag 'jquery-1.7.min'%>
	<%= javascript_include_tag 'cart'%>
	<%= javascript_include_tag 'item'%>
	<%= javascript_include_tag 'photoSlider'%>
	<script>
		$(document).ready(function() { 
		   $('#s3slider').s3Slider({ 
		      timeOut: 4000 
		   });
		});
	</script>
</head>
<body>
	<div id="header">
		<div id="header_inside">
			<img src="/assets/logo.jpg" alt="Sodano" width="350" height="120" border="0"/>	
			<div class="shopping_cart">
					<div class="cart_detail">
						<b><a class="cart_link">Mi carrito</a></b>
						<p class="cart_link"><%= @cart_quantity%> productos agregados.</p>
					</div>
			</div>																																									
			<ul id="menu">
				<li>
					<%= link_to "Inicio", { :controller => "/items", :action => "index" }, :class => "but1_active" -%> 
				</li>
				<li>
					<span class="nav_pipe">|</span>
				</li>
				<li>
		      <%= link_to "Acerca de...", { :controller => "/sites", :action => "about" }, :class => "but2" -%> 
		    </li>
				<li>
					<span class="nav_pipe">|</span>
				</li>
				<li>
					<%= link_to "Contactenos", { :controller => "/sites", :action => "contact" }, :class => "but3" -%>
				</li>
				<li>
					<span class="nav_pipe">|</span>
				</li>
				<li>
					<%= link_to_unless_current "Mi carrito",  :controller => "/carts", :action => "index" %>
				</li>
				<% if !user_signed_in? %>
				<li>
					<%= link_to 'Register', new_user_registration_path %>
				</li>
				<li>
					<span class="nav_pipe">|</span>
				</li>
				<li class="last_menu_item">
					<%= link_to 'Sign in', new_user_session_path %>
				</li>
				 <% else %>
				<li class="last_menu_item">
					<b>Bienvenido:</b><span class="logged_user"> <%=current_user.email%> </span>
				</li>		
				<% end %>
			</ul>
		</div>
	</div>
  <div id="wrapper">
		<div id="content_inside">
			<div id="s3slider">
			   <ul id="s3sliderContent">
			      <li class="s3sliderImage">
			          <img src="http://www.informabtl.com/wp-content/uploads/2011/03/Whopper-promociones-Burger-King.jpg" width="1000" height='300'/>
			          <span>PROMOCION: la hambuerguesa piola piola piola</span>
			      </li>
			      <li class="s3sliderImage">
			          <img src="http://www.vallesgrijalva.com/images/DESCUENTOcupon1.jpg" width="1000" height='300'/>
			          <span>Meta chapa: vamos las chiapas!</span>
			      </li>
			      <div class="clear s3sliderImage"></div>
			   </ul>
			</div>
			<div id="sidebar">																																																																								
				<ul id="list">
					<li class="title"><a href="#">Categorias</a></li>
					<li class="button"><a href="/items?category_id=1">Dormitorio</a></li>
					<li class="button"><a href="/items?category_id=2">Cocina</a></li>
					<li class="button"><a href="/items?category_id=3">Banio</a></li>
					<li class="button"><a href="/items?category_id=4">Tecnologia</a></li>
					<li class="button"><a href="/items?category_id=5">Living</a></li>
					<li class="button"><a href="/items?category_id=6">Jardin</a></li>
				</ul>
			</div>
			<div id="main_block">
 				<% if flash[:notice] -%>
					<p class="notice"><%= flash[:notice] %></p>
					<% end -%>
 					<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>