<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Casa Sodano</title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery'%>
  <%= javascript_include_tag 'cart'%>
  <%= javascript_include_tag 'item'%>
  <%= javascript_include_tag 'photoSlider'%>
  <script>
    $(document).ready(function() { 
       $('#s3slider').s3Slider({ 
          timeOut: 4000 
       });
    });
  </script>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="left_shadow"></div>
  <div class="right_shadow"></div>
  <div id="header">
    <img src="/assets/logo_sodano.png" alt="Sodano" width="150" height="87" border="0" class="logo"/>
    <div class="title">
      <div class="bold"><%=t(:best_expirience)%></div>
      <div><%=t(:home_articles)%></div>
    </div>
    <div class="lang">
      <a href="/?locale=gr"><img src="/assets/germany_flag.png" alt="Aleman" width="20" height="20" /></a>
      <a href="/?locale=es"><img src="/assets/spain_flag.png" alt="Espana" width="20" height="20" /></a>
      <a href="/?locale=en"><img src="/assets/england_flag.png" alt="Inglaterra" width="20" height="20" /></a>
      <span class="selectedLang">Lenguaje: Espanol</span>
    </div>  
  </div>
  <div id="leftEar"></div>
  <div id="menuContainer">
    <ul id="menu">
      <li><%= link_to t(:home), { :controller => "/items", :action => "index" }, :class => "but1_active" -%></li>
      <li class="pipe">|</li>
      <li><%= link_to t(:about_us), { :controller => "/sites", :action => "about" }, :class => "but2" -%></li>
      <li class="pipe">|</li>
      <li><%= link_to t(:contact_us), { :controller => "/sites", :action => "contact" }, :class => "but3" -%></li>
      <li class="pipe">|</li>
      <% if !user_signed_in? %>
        <li><%= link_to t(:register), new_user_registration_path %></li>
        <li class="pipe">|</li>
        <li><%= link_to t(:sign_in), new_user_session_path %></li>
      <% else %>
        <li><%= link_to_unless_current t(:shopping_cart),  :controller => "/carts", :action => "index" %></li>
      <% end %>
    </ul>
    <div class="cart">
      <div class="cartTitle"><%=t(:cart)%></div>
      <div class="cartTitle"><%=t(:shopping)%></div> 
      <div class="cartSubtTitle"><%=t(:product_added)%> <font id='cartQuantity'><%= @cart_quantity.nil? ? 0 : @cart_quantity%></font></div>
    </div>
  </div>
  <div id="rightEar"></div>
  <div id="content">
    <div id="left">
      <h2><%=t(:find_by_categories)%></h2>
      <ul class="leftnav">
        <li><a href="/items?category_id=1">>><%=t(:out_door)%></a></li>
        <li><a href="/items?category_id=2">>><%=t(:audio)%></a></li>
        <li><a href="/items?category_id=3">>><%=t(:kids)%></a></li>
        <li><a href="/items?category_id=4">>><%=t(:kitchen)%></a></li>
        <li><a href="/items?category_id=5">>><%=t(:personal_care)%></a></li>
        <li><a href="/items?category_id=6">>><%=t(:appliances)%></a></li>
        <li><a href="/items?category_id=7">>><%=t(:electronic)%></a></li>
        <li><a href="/items?category_id=8">>><%=t(:fitness)%></a></li>
        <li><a href="/items?category_id=9">>><%=t(:cold_hot)%></a></li>
        <li><a href="/items?category_id=10">>><%=t(:white_line)%></a></li>
        <li><a href="/items?category_id=11">>><%=t(:furniture)%></a></li>
        <li><a href="/items?category_id=12">>><%=t(:music)%></a></li>
        <li><a href="/items?category_id=13">>><%=t(:wheeled)%></a></li>
        <li><a href="/items?category_id=14">>><%=t(:telephony)%></a></li>
        <li><a href="/items?category_id=15">>><%=t(:tv_video)%></a></li>
      </ul>
      <div class="block1">
        <img src="assets/contact_tel.png" height="97" width="150" alt="Llamenos" title="Llamenos">
      </div>
    </div>
    <div id="middle">
      <div id="s3slider">
         <ul id="s3sliderContent">
            <li class="s3sliderImage">
                <img src="/assets/carrousel1.png" width="470" height='230'/>
                <span>Promoción valida hasta el 21/12/2011</span>
            </li>
            <li class="s3sliderImage">
                <img src="/assets/carrousel2.png" width="470" height='230'/>
                <span>Promoción valida hasta el 21/12/2011</span>
            </li>
            <div class="clear s3sliderImage"></div>
         </ul>
      </div>
      <div class="content">
      <%= yield %>
      </div>
    </div>
    <div id="right">
      <div class="news">
        <div class="facebook">
          <label class="title"><%=t(:follow_us)%></label>
        </div>
        <div class="newsletter">
          <label class="title"><%=t(:newsletter)%></label>
           <p><%=t(:suscribe_newsletter)%></p>
          <input type="text" id="email" value="Ingrese su email">
          <div class="send"><a>>><%=t(:send)%></a></div>
        </div>
        <div class="find_us">
          <label class="title"><%=t(:find_us)%></label>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <ul id="principal_nav">
      <li><%= link_to t(:home), { :controller => "/items", :action => "index" }, :class => "but1_active" -%></li>
      <li><%= link_to t(:about_us), { :controller => "/sites", :action => "about" }, :class => "but2" -%></li>
      <li><%= link_to t(:contact_us), { :controller => "/sites", :action => "contact" }, :class => "but3" -%></li>
    <% if !user_signed_in? %>
      <li><%= link_to t(:register), new_user_registration_path %></li>    
      <li><%= link_to t(:sign_in), new_user_session_path %></li>
    <% else %>
      <li><%= link_to_unless_current t(:shopping_cart),  :controller => "/carts", :action => "index" %></li>
    <% end %>
    </ul>
    <ul id="menu_nav_1">
      <li><a href="/items?category_id=1">>><%=t(:out_door)%></a></li>
      <li><a href="/items?category_id=2">>><%=t(:audio)%></a></li>
      <li><a href="/items?category_id=3">>><%=t(:kids)%></a></li>
      <li><a href="/items?category_id=4">>><%=t(:kitchen)%></a></li>
      <li><a href="/items?category_id=5">>><%=t(:personal_care)%></a></li>
      <li><a href="/items?category_id=6">>><%=t(:appliances)%></a></li>
    </ul>
    <ul id="menu_nav_1">  
      <li><a href="/items?category_id=7">>><%=t(:electronic)%></a></li>
      <li><a href="/items?category_id=8">>><%=t(:fitness)%></a></li>
      <li><a href="/items?category_id=9">>><%=t(:cold_hot)%></a></li>
      <li><a href="/items?category_id=10">>><%=t(:white_line)%></a></li>
      <li><a href="/items?category_id=11">>><%=t(:furniture)%></a></li>
      <li><a href="/items?category_id=12">>><%=t(:music)%></a></li>
    </ul>
    <ul id="menu_nav_1">
      <li><a href="/items?category_id=13">>><%=t(:wheeled)%></a></li>
      <li><a href="/items?category_id=14">>><%=t(:telephony)%></a></li>
      <li><a href="/items?category_id=15">>><%=t(:tv_video)%></a></li>
    </ul>
    <div id="follow_us_footer">
      <label><%=t(:follow_us)%></label>
      <img src="/assets/facebook_logo.png" alt="facebook" title="facebook" width="92" height="19">
    </div>
  </div>
</body>
</html>
